/node_modules
/public/storage
/public/uploads
/public/public.zip
/public/*.zip
/public/hot
/storage/*.key

.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/database/*.sqlite*
*.log
extract_pdf*.php
